In [1]:
import pandas as pd

print(pd.__version__)

2.3.2

In [21]:
import numpy as np

## 1. Load Data

In [2]:
df_data = pd.read_csv("car_fuel_efficiency.csv")
df_data.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

## 2. Analysis Q/A

In [3]:
df_data.shape

(9704, 11)

In [4]:
df_data.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [5]:
df_data['fuel_type'].value_counts(dropna=False)

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [9]:
df_data.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [10]:
df_data.groupby(['origin'])['fuel_efficiency_mpg'].max()

origin
Asia      23.759123
Europe    25.967222
USA       24.971452
Name: fuel_efficiency_mpg, dtype: float64

### Q6: Median Value of horsepower

In [11]:
df_data['horsepower'].median()

149.0

In [13]:
df_data['horsepower'].mode()

0    152.0
Name: horsepower, dtype: float64

In [14]:
mode_fillna_val = df_data['horsepower'].mode()
df_data['horsepower'].fillna(mode_fillna_val).median()

149.0

### Q7: Sum

- Select all the cars from Asia
- Select only columns `vehicle_weight` and `model_year`
- Select the first 7 values
- Get the underlying NumPy array. Let's call it X.
- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
- Invert XTX.
- Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
- What's the sum of all the elements of the result?

In [44]:
df_asia_cars = df_data[df_data['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7)
X = df_asia_cars.values
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [45]:
weights = np.linalg.inv(X.T @ X) @ X.T @ y

In [46]:
sum(weights)

0.5187709081074025